global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
    stats show-legends

frontend usuarios_front
    bind *:3001
    default_backend usuarios_back

backend usuarios_back
    balance roundrobin
    server usuarios1 microservicios-usuarios-1:3001
    server usuarios2 microservicios-usuarios-2:3001
    server usuarios3 microservicios-usuarios-3:3001

frontend libros_front
    bind *:3002
    default_backend libros_back

backend libros_back
    balance roundrobin
    server libros1 microservicios-libros-1:3002
    server libros2 microservicios-libros-2:3002
    server libros3 microservicios-libros-3:3002

frontend prestamos_front
    bind *:3003
    default_backend prestamos_back

backend prestamos_back
    balance roundrobin
    server prestamos1 microservicios-prestamos-1:3003
    server prestamos2 microservicios-prestamos-2:3003
    server prestamos3 microservicios-prestamos-3:3003
